.container {
  padding-bottom: 50px;
}
#map {
  height: 600px;
  margin-top: 20px;
}

.redDot {
	color: red;
}

.greenDot {
	color: green;
}

.yellowDot {
	color: yellow;
}

.orangeDot {
	color: orange;
}

li span {
	color: black;
}
